html,
body {
  height: 100%;
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root, [data-bs-theme] {
  --bs-primary: #7c3aed !important;
  --bs-primary-rgb: 124, 58, 237 !important;
}

.btn-primary {
  --bs-btn-bg: #7c3aed !important;
  --bs-btn-border-color: #7c3aed !important;
  --bs-btn-hover-bg: #6d28d9 !important;
  --bs-btn-hover-border-color: #6d28d9 !important;
  --bs-btn-active-bg: #6d28d9 !important;
  --bs-btn-active-border-color: #6d28d9 !important;
  background-color: #7c3aed !important;
  border-color: #7c3aed !important;
}

.text-primary {
  color: #7c3aed !important;
}

.bg-primary {
  background-color: #7c3aed !important;
}
