# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

# Ignore client dependencies & builds
client/node_modules/
client/dist/
client/dist-ssr/
client/*.local
client/*package-lock.json

# Ignore server dependencies & builds
server/.venv/
server/apps/__pycache__/

# Ignore Flask session files
flask_session/

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Ignore Docker volumes
mysql_data/

# Editor directories and system files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?