# Logs
client/logs
client/*.log
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/pnpm-debug.log*
client/lerna-debug.log*

# Ignore client directory list
client/node_modules
client/dist
client/dist-ssr
client/*.local

# Ignore server directory list
server/.venv/
server/apps/model/
server/apps/__pycache__/

# Ignore Flask session files
flask_session/
.flask_session/
*/flask_session/*
flask_session/*

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*/__pycache__/*
**/__pycache__/
**/*.pyc

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
